.serviceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.u1 {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.traCuu,
.dichVu {
  font-family: 'sf-ui-medium';
  font-size: 26px;
  font-weight: 600;
  padding: 20px 100px 20px 100px;
  //   border: 1px solid #ccc;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &.active {
    background-color: #4cb9f8;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
}

.box {
  margin: 20px;
  width: 1200px;
  height: 900px;
  border-radius: 5px;

  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  div {
    display: none;
  }

  div:first-child {
    display: block;
  }
}

.mainTabContent {
  .menuItems {
    display: inline;
    list-style-type: none;
    padding: 0;
    font-size: 18px;
  }
  .subMenuItem {
    display: inline-block;
    width: 290px;
    height: 60px;
    line-height: 20px;
    margin-left: 0px;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: rgb(223, 208, 208);
    font-weight: 500;
    font-family: 'sf-ui-medium';
    font-size: 18px;
    &.active {
      color: #4cb9f8;
      background-color: rgb(247, 241, 241);
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }

    .content {
      display: none;
    }
  }
}
.DichVuContent {
  margin-top: 50px;
  display: flex;
  .itemDichVu {
    padding: 20px;
    background-color: #f1ecec;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    width: 5400px;
  }
}
.quangCao1 {
  font-family: 'Roboto', sans-serif;

  .title {
    text-align: center;
    font-size: 36px;
  }
  .greyBg {
    background-color: #f0f0f0;
    padding: 20px;
  }
  .row {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  li {
    border-right: 1px solid #fff;
    padding: 15px;
    flex: 1;
    text-align: center;
  }

  li strong {
    display: block;
    margin-bottom: 5px;
  }
  li:last-child {
    border-right: none;
  }
}

.subTabContentBox {
  margin-top: 20px;
  z-index: 1001;
}
.searchBuuCuc {
  display: block;
  .sellectProvince {
    z-index: 1002;
    background: #f8f8f8;
    padding: 20px;
    float: left;
    width: 30%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
  }
}
.dangKyDaiLy {
  margin-top: 100px;
  display: block;
  .noidung {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    border-radius: 30px;
    background-color: #f1ecec;
    z-index: 1002;
    float: left;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 500px;
    text-align: justify;
  }
  .minhhoa1 {
    margin-left: 150px;
  }
  .button {
    background-color: #4cb9f8;
  }
}
.rowContainer {
  display: flex;
}
.sellectProvinceButton {
  margin-right: 20px;
  margin-top: 20px;
  font-size: 16px;
  width: 300px;
}
.ggMap {
  margin-left: 150px;
}
// .sellectProvince {
//   margin-top: 100px;
// }
.tinTucSuKien {
  font-family: Montserrat, sans-serif;
  margin-top: 20px;
  margin-bottom: 80px;
  .sTitle {
    margin: 30px 10px 30px 50px;
    font-size: 30px;
  }
  .row {
    display: flex;
    margin-right: -15px;
    margin-left: 50px;
    div {
      display: block;
    }
    .colLeft {
      width: 50%;
      .ngayDang {
        margin-top: 20px;
      }
    }
  }
  .image1 {
    margin: 10px;
    width: 700px;
    height: 420px;
  }
  .colLeft {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    .blogTitle {
      margin-bottom: 20px;
    }
  }
  .colRight {
    .anhMinhHoa {
      width: 147px;
      height: 88px;
      margin-top: 20px;
    }
    .blogItem {
      display: flex;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    }
    .blogDetail {
      margin: 20px 50px 40px 20px;
    }
  }
}
.uocTinhChiPhi {
  margin-top: 50px;
  .shippingRatesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .shippingRatesTable th,
  .shippingRatesTable td {
    border: 3px solid #4cb9f8;
    padding: 8px;
    text-align: center;
    height: 100px;
  }

  .shippingRatesTable th {
    font-size: 20px;
    background-color: #f9f9f9;
    height: 30px;
  }

  .shippingRatesTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .tdHead {
    font-weight: bold;
    font-size: 20px;
  }
}
.quangCao2 {
  height: 150px;
  position: relative;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-right: -15px;
  margin-left: -15px;
  h4 {
    color: rgba(68, 73, 77, 1);
    font-size: 30px;
    line-height: 40px;
    font-family: 'sf-ui-bold';
    width: 80%;
    margin: 5px auto;
  }
  img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
  }
  .s1 {
    background-color: #dfdbdb;
    font-family: 'pfb', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    width: 30%;
    text-align: center;
  }
  .s2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 70%;
    display: flex;
    background-color: #1ca4f3;
  }
  h5 {
    font-size: 36px;
    line-height: 45px;
    font-family: 'sf-ui-bold';
    color: #fff;
  }
  p {
    font-size: 16px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
  }
  .cout {
    padding: 20px;
    margin-left: 15%;
    margin-top: 2%;
    display: flex;
  }
}
