.dialog {
  width: 100vw;
  .buttonModel {
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    padding: 8px;
    background-color: #1976d2;
    color: white;

    &:hover {
      background-color: #135ba1;
    }
  }
}